body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #f9faf8;
}
.logo {
    display: flex;
    font-size: 24px;
    font-family: roboto; /* need to download font */

}
a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 18px;
    color: #e5e7eb;
}


.container1 {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;

}
img {
    max-width: 150px;
    max-height: 150px; /* research image boxing + border */
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Add all fonts and basic layout to see whats missing*/